{% extends "base.html" %}

{% block title %}
User Subscription View 
{% endblock title %}

{% block content %}
this is user subscription detail view
<form method="POST">
{% csrf_token %}
<button type="submit" class="text-white bg-blue-500 p-2 rounded">Refresh Sub</button>
</form>
<br>

<a href="{{subscription.get_cancel_url}}">Cancel membership</a>

<h2>Subscription data</h2>
<p>Name: {{subscription.plan_name}} Plan</p>
<p>Membership Age: {{subscription.original_period_start|timesince}} ({{subscription.original_period_start}})</p>
<p>Start: {{subscription.current_period_start}}</p>
<p>Status: {{subscription.status|title}}</p>
<p>End: {{subscription.current_period_end}}</p>
<p>Left time: {{subscription.current_period_end|timeuntil}}</p>
<p>Cancel at period end: {{subscription.cancel_at_period_end}}</p>

{% endblock content%}